# Wazuh Manager API Configuration

WAZUH_HOST=https://xxx.xxx.xxx.xxx
WAZUH_PORT=55000
WAZUH_USERNAME=admin
WAZUH_PASSWORD=CHANGE_ME

# Wazuh Indexer Configuration

WAZUH_INDEXER_HOST=https://xxx.xxx.xxx.xxx
WAZUH_INDEXER_PORT=9200
WAZUH_INDEXER_USERNAME=admin
WAZUH_INDEXER_PASSWORD=CHANGE_ME

# HTTP Configuration

VERIFY_SSL=false
REQUEST_TIMEOUT=30
